
.whole-box--dark {
  background-color: black;
  color: white;
}

.whole-box--light {
  background-color: white;
  color: black;
}

.main-div {
  display: flex;
  flex-direction: row; 
  flex-grow: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  overflow: hidden;
}

.sidebarpage {
  padding: 20px 10px;
  height: calc(100vh - 60px); 
  position: fixed;
  top: 60px; 
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.display {
  background-color: rgb(210, 212, 212);
  padding: 10px 20px;
  width: calc(100% - 100px);
  height: calc(100vh + 100px);
  margin-left: 239px; 
  overflow-y: auto;
}

.footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .sidebarpage {
    width: 200px;
  }

  .display {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}

@media (max-width: 576px) {
  .sidebarpage {
    width: 100%;
    height: auto;
    position: relative;
  }

  .display {
    margin-left: 0;
    width: 100%;
  }

  .main-div {
    flex-direction: column;
  }
}
