.main-content-container {
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.main-content--dark {
    background-color: black;
    color: white;
}

.main-content--light {
    background-color: white;
    color: black;
}
