.sidebarpage {
  width: 220px;
  height: 100vh;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sidebarpage--dark {
  background-color: black;
  color: white;
}

.sidebarpage--light {
  background-color: white;
  color: black;
}

.sidebarpage__toggle {
  background: none;
  border: none;
  color: inherit;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.sidebarpage__icon {
  font-size: 20px;
  margin-right: 10px;
}

.sidebarpage__content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.sidebarpage__item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebarpage__item:hover {
  background-color: #e6e6e6;
}

.sidebarpage__link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  gap: 20px;
}

.sidebarpage__text {
  font-size: 16px;
  font-weight: bold;
  color: orangered;
}

.sidebarpage__dropdown {
  list-style: none;
  padding-left: 40px;
  display: none;
  transition: max-height 0.3s ease-in-out;
  line-height: 0.5px;
}

.sidebarpage__dropdown--open {
  display: block;
}

.sidebarpage__dropdown-item {
  padding: 5px;
  background-color: #f0eded;
  height: 2vh;
}

.sidebarpage__dropdown_text {
  font-size: 14px;
}

.sidebarpage__dropdown-item a {
  color: inherit;
  text-decoration: none;
}

.sidebarpage__dropdown-item:hover {
  background-color: #1a1818;
  color: #ccc;
}
.sidebarpage--dark .sidebarpage__dropdown-item{
  background-color: rgb(19, 16, 16);
}
.sidebarpage--dark .sidebarpage__dropdown-item:hover{
  background-color: rgb(145, 143, 143);
}
.sidebarpage__item--settings {
  margin-top: auto;
  padding: 15px 15px;
  border-top: 1px solid #ccc;
}

.sidebarpage__item--logout {
  margin-top: 15px;
  padding: 10px 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.sidebarpage__item--logout:hover {
  background-color: #ff4d4d;
  color: white;
}

